@import url("adient.css");

.clickable {
    cursor: pointer;
}

.table {
    font-size:12px;
}

.bg-adient-teal {
    background-color:#00465b;
}

.box.box-adient {
    border-top-color: #00465b;
    border-bottom-color: #00465b;
}

.box.box-solid.box-adient .box-header {
    background-color:#00465b;
    color: #bfd732;
}

.btn-adient {
    background-color:#00465b;
    color:#bfd732 !important;
}

.btn-adient:hover {
    background-color:#00353b;    color:#bfd732 !important;
}

[v-cloak] {
    display: none;
}

#pdf-watermark {
    position: fixed;
    top: 45%;
    width: 100%;
    text-align: center;
    opacity: .2;
    transform: rotate(-45deg);
    transform-origin: 50% 50%;
    z-index: 1000;
    font-size:96pt;
}

#loading-wrapper {
  width:100%;   height:100%;
  top: 0px;     left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 9998;
  text-align: center;
}

#loading-image {
  position: absolute;
  top:25%;  left:50%;
  z-index: 9999;
}

.input-group-btn select {
  border-color: #ccc;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#msg-box {
  display:none; z-index:1500; position:fixed; /* top:50px; left:50%; margin-left:-240px; */
  top:20px; right:20px;
  width:480px; border:2px solid; padding:15px 10px 15px 50px;
  background-repeat:no-repeat; background-position:10px center;
  font-size:18px; text-align:justify;
  text-shadow: 2px 2px 2px rgba(0,0,0,.3);
  box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

#msg-box.info   { color:#00529b; background-color:#bde5f8; background-image:url('../img/msg-info.png'); }
#msg-box.success  { color:#4f8a10; background-color:#dff2bf; background-image:url('../img/msg-success.png'); }
#msg-box.warning  { color:#9f6000; background-color:#feefb3; background-image:url('../img/msg-warning.png'); }
#msg-box.error    { color:#d8000c; background-color:#ffbaba; background-image:url('../img/msg-error.png'); }
#msg-box.validation { color:#d63301; background-color:#ffccba; background-image:url('../img/validation.png'); }

.box.box-primary > .box-footer.box-solid {
    color: #fff;
    background: #3c8dbc;
    background-color: rgb(60, 141, 188);
    background-color: #3c8dbc;
}

.table.table-quiz .quiz-items td {
  cursor:pointer;
  text-align:center;
  border:none;
  padding:10px;
}

.table.table-quiz .quiz-items td.current {
  border:1px solid #367fa9;
}

.table.table-quiz .quiz-items td.answered {
  color:#;
  background-color:#3c8dbc;
}

.table.table-quiz .quiz-items td:hover {
  background-color:#ddd;
}

.question-content {
  display:none;
}

.question-content.active {
  display:block;
}

.nav-tabs-custom > .nav-tabs > li.info {
    border-top-color: #00c0ef !important;
}

.nav-tabs-custom > .nav-tabs > li.success {
    border-top-color: #00a65a !important;
}

.nav-tabs-custom > .nav-tabs > li.warning {
    border-top-color: #f39c12 !important;
}

.nav-tabs-custom > .nav-tabs > li.danger {
    border-top-color: #dd4b39 !important;
}

.nav-tabs-custom > .nav-tabs > li.adient {
    border-top-color: #00465b !important;
}

/*
.nav-tabs-custom > .nav-tabs > li:hover {
    border-top-color: #f39c12;
}
*/

.http-error-box {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    height: 80vh;
}

.http-error-box .code {
    border-right: 3px solid;
    font-size: 32px;
    font-weight: bold;
    padding: 0 20px;
    text-align: center;
}

.http-error-box .message {
    font-size: 26px;
    text-align: center;
}

.info-box .progress-description a {
    color: #fff;
    border-bottom: 1px #fff dotted;
}

.progress.lg, .progress-lg {
    height: 30px;
}

.progress.lg .progress-bar, .progress-lg  .progress-bar {
    line-height: 30px;
}

.progress.xl, .progress-xl {
    height: 40px;
}

.progress.xl .progress-bar, .progress-xl .progress-bar {
    line-height: 40px;
}

.progress.xxl, .progress-xxl {
    height: 50px;
}

.progress.xxl .progress-bar, .progress-xxl .progress-bar {
    line-height: 50px;
}

.table-adient thead tr, .table-adient tr th, .bg-adient-gradient {
    background: #00465b !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00465b), color-stop(1, #005364)) !important;
    background: -ms-linear-gradient(bottom, #00465b, #005364) !important;
    background: -moz-linear-gradient(center bottom, #00465b 0, #005364 100%) !important;
    background: -o-linear-gradient(#005364, #00465b) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005364', endColorstr='#00465b', GradientType=0) !important;
    color: #bfd732;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.skin-adient .navbar-nav > .user-menu.higher > .dropdown-menu {
  width: 250px;
  border-right: 1px #00465b solid;
  border-bottom: 1px #00465b solid;
  border-left: 1px #00465b solid;
  box-shadow: 5px 2px 10px #00465b;
}

.skin-red .navbar-nav > .user-menu.higher > .dropdown-menu {
  width: 250px;
  border-right: 1px #dd4b39 solid;
  border-bottom: 1px #dd4b39 solid;
  border-left: 1px #dd4b39 solid;
  box-shadow: 5px 2px 10px #dd4b39;
}

.navbar-nav > .user-menu.higher > .dropdown-menu li a {
  padding: 7px 20px;
}

.text-upper {
  text-transform : uppercase;
}

.text-lower {
  text-transform : lowercase;
}

.text-capital {
  text-transform : capitalize;
}
